<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Module 3 Assignment</title>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as searcher">
    <h2>Narrow Down Your Chinese Menu Choice</h2>
    <div class="row">
      <div class="col-sm-7">
        <div class="form-group">
          <input type="text" placeholder="search term" class="form-control" ng-model="searcher.search_term">
        </div>
      </div><!-- .col-sm-6 -->
      <div class="col-sm-5">
        <div class="form-group">
          <button class="btn btn-primary" ng-click="searcher.getMatchedMenuItems()">Narrow It Down For Me!</button>
        </div>
      </div><!-- .col-sm-6 -->
    </div><!-- .row -->
    
    <!-- Display Results -->
    <h3 ng-if="searcher.found.length == 0">Nothing found.</h3>
    <found-items items="searcher.found" on-remove="searcher.removeItem(index)" ng-if="searcher.found.length > 0" total-items="searcher.total_found"></found-items>
  </div><!-- .container -->
  
  <script src="angular.js"></script>
  <script src="app.js"></script>
</body>
</html>
